<form action="/settings/<%= user._id %>/updateUsername?_method=PUT" class="settingsUsername" name="usernameChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Change Username</h2>
    <div class="settingsInput">
        <input type="text" id="text" name="username" class="form-control" oninput="removeDisable()" required />
    <label class="label">new username</label>
    </div>
    <div id="usernameError"></div>
    <button type="submit" id="newEmail-btn" class="submit btn btn-primary btn-sm mr-5" disabled>Save</button>
    </div>
</form>

<form action="/settings/<%= user._id %>/updateEmail?_method=PUT" class="settingsUsername" name="emailChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Change Email Address</h2>
    <div class="settingsInput">
    <input type="email" id="email" name="email" onchange="hoverLabel()" required />
    <label class="label">new email address</label>
    </div>
    <button type="submit" id="newEmail-btn" class="submit btn btn-primary btn-sm mr-5" disabled>Save</button>
    </div>
</form>

<form action="/settings/<%= user._id %>/updatePassword?_method=PUT" class="settingsUsername settingsPasswordField" name="passwordChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Change Password</h2>
    <div class="settingsInput">
    <input type="password" id="settingsPassword" name="password" class="form-control" oninput="settingsPWValidation()" required />
    <label class="label">new password</label>
    </div>
    <div id="settingsPasswordError"></div>
    </div>
    <div class="settingsUsernameBox">
        <h2>Confirm Password</h2>
    <div class="settingsInput">
    <input type="password" id="settingsPassword2" name="password" class="form-control" oninput="settingsPWMatch()" required />
    <label class="label">confirm password</label>
    </div>
    <div id="SettingsPasswordMatch"></div>
        <button type="submit" id="newPassword-btn" class="submit btn btn-primary btn-sm mr-5" disabled>Save</button>
    </div>
</form>