<form class="settingsUsername" name="usernameChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Change Username</h2>
    <div class="settingsInput">
    <input type="text" value="new username">
    </div>
        <div class="submit">
    <input class="btn btn-primary btn-sm mr-5" type="submit" value="Save">
        </div>
    </div>
</form>

<form class="settingsUsername" name="emailChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Change Email Address</h2>
    <div class="settingsInput">
    <input type="text" value="new email address">
    </div>
        <div class="submit">
    <input class="btn btn-primary btn-sm mr-5" type="submit" value="Save">
        </div>
    </div>
</form>

<form class="settingsUsername" name="passwordChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Change Password</h2>
    <div class="settingsInput">
    <input type="text" value="new password">
    </div>
        <div class="submit">
    <input class="btn btn-primary btn-sm mr-5" type="submit" value="Save">
        </div>
    </div>
</form>