<div class="AuthorContainer">
    <div>About the Author</div>
    <img src="/images/MockUser.png" referrerpolicy="no-referrer" alt="user profile image">
    <article>Jane Doe</article>
    <div class="AuthorStats">
        <div># of Posts</div>
        <div class="AuthorDot">&bull;</div>
        <div># of Followers</div>
    </div>
    <p>Profile Bio associated with Author</p>
    <div>Follow Button</div>
</div>