<form class="settingsUsername" method="post" action="/settings/<%= user._id %>/deactivate?_method=DELETE" method="DELETE">
    <div class="settingsUsernameBox">
        <h2>Deactivate Account</h2>
        <div class="submit">
            <button class="bg-red-500 text-white btn btn-sm font-bold hover:bg-red-600" type="submit">Deactivate</button>
        </div>
    </div>
</form>