<form class="settingsUsername" name="passwordChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Deactivate Account</h2>
    <div class="settingsInput">
    <input type="text" value="new password">
    </div>
        <div class="submit">
    <input type="submit" value="Save">
        </div>
    </div>
</form>