<form class="settingsUsername" name="passwordChange" method="post">
    <div class="settingsUsernameBox">
        <h2>Deactivate Account</h2>
        <div class="submit">
    <input class="bg-red-500 text-white btn btn-sm mr-5 font-bold hover:bg-red-600" type="submit" value="Deactivate">
        </div>
    </div>
</form>