<header>
    <div class="search">
        <input type="text" class="searchBar" placeholder="search...">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <%- include('userLogo.ejs') %>
</header>