<header>
    <div class="logo"><a href="/"><img class="logo-img" src="images/assets/logo.svg" alt="Project Night Blog Logo. Click to return to homepage." /></a></div>
    <div>Search Bar</div>
    <div><%- include('userLogo.ejs') %></div>
</header>