<header>
    <div class="logo"><a href="/"><img class="logo-img" src="images/assets/logo.svg" alt="Project Night Blog Logo. Click to return to homepage." /></a></div>
    <div class="searchBar"><i class="fa-solid fa-magnifying-glass"></i><input type="text" placeholder="Search..."></div>
    <div><%- include('userLogo.ejs') %></div>
</header>