<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/"><img class="logo-img hidden" src="images/assets/logo.svg" alt="Project Night Blog Logo. Click to return to homepage." /></a></li>
        <li><a href="/"><i class="fa-solid fa-home fa-lg"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-bell fa-lg"></i></a></li>
        <li><a href="/bookmark"><i class="fa-solid fa-bookmark fa-lg"></i></a></li>
        <li class="comment"><a href="#"><i class="fa-solid fa-envelope fa-lg"></i></a></li>
        <li class="upload"><a href="/blog/new"><i class="fa-solid fa-circle-plus fa-lg"></i></a></li>
    </ul>
</nav>
