<div class="settingsContentUtils">
    <div class="accountInfo">
        <i class="fa-solid fa-user"></i>

        <a href="/settings/accountinfo/<%= user._id %>"><div class="accountInfoContent">
            <div>Account Information</div>
            <p>See your account information like your username and email address</p>
        </div></a>

        <i class="fa-solid fa-angle-right"></i>
    </div>

    <div class="accountInfo">
        <i class="fa-solid fa-user"></i>

        <a href="/settings/deactivate/<%= user._id %>"><div class="accountInfoContent">
            <div>Deactivate Your Account</div>
            <p>Find out how you can deactivate your account</p>
        </div></a>

        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>