<link rel="stylesheet" href="/css/banned.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="txt1">ACCOUNT SUSPENDED</div>
<div class="txt2">This account has been suspended.</div>
<div id="orbit-system">
  <div class="system">
    <div class="satellite-orbit">
      <div class="satellite">SUSPENDED</div>
    </div>
    <div class="planet"><img src="http://orig02.deviantart.net/69ab/f/2013/106/0/4/sad_man_by_agiq-d61wk0d.png" height="200px"> </div>
  </div>
</div>