<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/mainLayout.css">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.45.0/dist/full.css" rel="stylesheet" type="text/css" />
<section class="disabled">
    <h1>Content Unavailable</h1>
    <p>Account is no longer active</p>
</section>