<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- located in public folder -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/homepage.css">

    <script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>

    <title>Blog</title>
</head>
<body id="pageContainer">
    <%- include('component/navbar.ejs') %>  <!-- js located in the public folder-->
    <div >
        <main id="container">
            <div class="content-wrap">
                <div class="card">
                    <h1>Welcome to Project Night Blog!</h1>
                    <p>This is a simple blog application built with Node.js, Express, and EJS.</p>
                    <br />
                    <p>lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea vitae numquam ipsam aut eaque dicta adipisci ad nulla maiores? Nesciunt suscipit totam nostrum eligendi distinctio? Fuga ipsa labore est cumque!</p>
                    <a href="/blog/new"><button class="blog-btn">New Blog</button></a>
                </div>
            </div>
        </main>
        <%- include('component/postPreview.ejs') %>
        </div>
    </div>
    <%- include('component/footer.ejs') %>
</body>
</html>