<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- located in public folder -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/homepage.css">

    <script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>

    <title>Blog</title>
</head>
<body id="pageContainer">
      
    <div>
        <%- include('component/postPreview.ejs') %>
    </div>
    <%- include('component/navbar.ejs') %>

    
</body>
</html>