<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- located in public folder -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Blog</title>
</head>
<body>
    <%- include('component/navbar.ejs') %>  <!-- js located in the public folder-->
    <div id="page-container">
        <main id="content-wrap" class="card">
            <h1>Welcome to the Blog!</h1>
        </main>

        <%- include('component/footer.ejs') %>
    </div>
</body>
</html>