<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
  <div class="form-side">
    <div class="logo-header">
      <img src='/images/Assets/logo.svg' alt='PNB logo' />
      <h2>Project. Night. Blog.</h2>
    </div>
    <div class="content-container">
      <section class="content">
        <header>
          <h1>Welcome back,</h1>
          <h5>please enter your details below</h5>
        </header>
        <form id="form" oninput="loginButton()" action="/login/loginLocal" method="POST">
          <fieldset>
            <div>
                <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                onchange="hoverLabel()"
                required
            />
            <label class="label">
              Email
            </label>
            </div>

            <div class="password-container">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
            <label>
              Password
            </label>
            <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
          </div>
            <button type="submit" id="logIn-btn" disabled="disabled">Login</button>
          </fieldset>
        </form>
        <footer>
          <h4>Don't have an account? <a href="/register"> Register for free!</a></h4>
          <h5>or login with</h5>
          <ul>
            <li><a href="/login/google"><i class="fa-brands fa-goog socialIcon"></i>Google</a></li>
            <li><a href="/login/github"><i class="fa-brands fa-gith socialIcon"></i>GitHub</a></li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
  <div class="graphic-side"></div>
  <script src="/js/main.js"></script>
</body>
</html>