<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <title>Login</title>
</head>
<body>
  <div class="form-side">
    <div class="logo-header">
      <img src='/images/Assets/logo.svg' alt='PNB logo' reffererpolicy="no-referrer-when-downgrade"/>
      <h1>Project. Night. Blog.</h1>
    </div>
    <div class="content-container">
      <section class="content">
        <header>
          <h2>Welcome back,</h2>
          <h3>please enter your details below</h3>
        </header>
        <form id="form" oninput="loginButton()" action="/login/loginLocal" method="POST">
          <fieldset>
            <div>
                <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                onchange="hoverLabel()"
                aria-label="email"
                required
            />
            <label class="label">
              Email
            </label>
            </div>

            <div class="password-container">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              aria-label="email"
              required
            />
            <label>
              Password
            </label>
            <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
          </div>
            <button type="submit" id="logIn-btn" disabled="disabled">Login</button>
          </fieldset>
        </form>
        <footer>
          <h4>Don't have an account? <a href="/register"> Register for free!</a></h4>
          <h5>or login with</h5>
          <ul>
            <li><a href="/login/google" class="authIcons"><i class="fa-brands fa-google socialIcon"></i>Google</a></li>
            <li><a href="/login/github" class="authIcons"><i class="fa-brands fa-github socialIcon"></i>GitHub</a></li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
  <div class="graphic-side" reffererpolicy="no-referrer-when-downgrade"></div>
  <script src="/js/main.js" reffererpolicy="no-referrer-when-downgrade"></script>
</body>
</html>