<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="views/component/meta.html">
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="">
        <div class="">
          <div class="card card-body">
            <h1 class="text-center"><i class="fas fa-sign-in-alt"></i>  Login</h1>
            <% if(success_msg != '') { %>
                <div class="alert alert-success alert-dismissible" role="alert"><%= success_msg %></div>
            <% } %>
            <% if(error != '') { %>
              <div class="alert alert-danger alert-dismissible" role="alert"><%= error %></div>
          <% } %>
            <form action="/loginLocal" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <button type="submit" class="btn">Login</button>
              <p class="loginCenter">or use one of your accounts below</p>
            </form>
            <!-- <a href="/auth/google"><div><button class="google"><i class="fa-brands fa-google"></i> Continue with Google</button></div></a>
            <a href="/auth/facebook"><div><button class="facebook"><i class="fa-brands fa-facebook"></i> Continue with Facebook</button></div></a> -->
            <p class="lead mt-4">
              No Account? <a href="/signup">Sign Up</a>
            </p>
            <p class="lead">
              Back to the main page? <a href="/">Click here</a>
            </p>
          </div>
        </div>
      </div>
</body>
</html>