<link rel="stylesheet" href="/css/markdown.css"/>
<link rel="stylesheet" href="/css/mainLayout.css">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.45.0/dist/full.css" rel="stylesheet" type="text/css" />
<form action="/blog/create" enctype="multipart/form-data" method="POST">
    <div class="submitContainer">
        <label class="btn btn-sm btn-primary mt-2" for="imageUpload">
            <i class="fa-solid fa-image fa-lg"></i>
            Add Cover Image
            <input onchange='previewImage()' type="file" accept="image/jpeg, image/png, image/jpg" name="image" id='imageUpload' class="image">
        </label>
        <div>
            <!-- The button to open modal -->
            <a href="#my-modal-2 " class="btn btn-sm btn-primary addDescBtn mt-2">Add Description</a>
            <!-- The modal -->
            <div class="modal" id="my-modal-2">
              <div class="modal-box">
              <a href="#"><label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label></a>
                <h3 class="font-bold text-lg">Description</h3>
                  <textarea class="textarea textarea-bordered" name="intro"></textarea>
                  <div class="modal-action">
                    <a href="#" class="btn"><input type="submit" value="Save"></a>
                  </div>
              </div>
            </div>
          </div>
        <input type="submit" value="Publish" class="btn btn-sm btn-primary mt-2">
    </div>
    <div class="imageAndDescription">
      <div id="imagePreview"></div>
      <div class="description">This is a sample description</div>
    </div>
    <input required type="text" name="title" id="title" class="blogTitle" placeholder="Blog Title...">
    <div class="textareaContainer">
        <textarea required name="markdown" id="markdown" class="form-control" placeholder="Tell your story..."></textarea>
    </div>
</form>
<script src="https://cdn.tailwindcss.com"></script>