<link rel="stylesheet" href="/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.45.0/dist/full.css" rel="stylesheet" type="text/css" />


<section class="notifications">
    <%
      let renderedNotifications = {};
    %>
    <% if(sortedNotifications && sortedNotifications[0]) { %>
      <% sortedNotifications.forEach((notification) =>{ %>
        <%
          // Check if this notification has already been rendered
          if (renderedNotifications[notification.user] && renderedNotifications[notification.user][notification.content]) {
            // Skip rendering this notification
            return;
          }
          // Mark this notification as rendered
          if (!renderedNotifications[notification.user]) {
            renderedNotifications[notification.user] = {};
          }
          renderedNotifications[notification.user][notification.content] = true;
        %>
        <div class="notificationContainer">
          <% if(notification.type === 'follow'){ %>
            <i class="fa-solid fa-user fa-2x"></i>
          <%}else if(notification.type === 'bookmark'){ %>
            <i class="fa-solid fa-bookmark fa-2x"></i>
          <% }else if(notification.type === 'like'){%>
            <i class="fa-solid fa-heart fa-2x"></i>
            <% } %> 
            <div class="notificationInfo">
              <img class="rounded-full h-9" src="<%= notification.user.profilePic %>">
              <p><%- notification.content %></p>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <h1>No notifications</h1>
      <% } %>
    </section>

<script src="https://cdn.tailwindcss.com"></script>