<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="/css/sign-up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" /> 
      <link rel="icon" type="image/png" href="/images/bloglogo-favicon.png" referrerpolicy="no-referrer">
    <title>Register</title>
</head>
<body>
  <div class="form-side">
    <div class="logo-header">
      <img src='/images/logo.svg' alt='PNB logo' reffererpolicy="no-referrer"/>
      <h1>Project. Night. Blog.</h1>
    </div>
    <div class="content-container">
      <section class="content">
        <header>
          <h2>Hello, thanks for joining us!</h2>
          <h3>please register below</h3>
        </header>
        <% if(typeof errors !== 'undefined'){ %>
          <% errors.forEach((error)=> { %>
            <div class="errorMsg"><%= error.msg %></div>
        <% }) %>
        <% } %>
        <form action="/register/createUser" method="POST">
          <fieldset>
            <div>
                <input
                type="text"
                id="text"
                name="username"
                class="form-control"
                oninput="removeDisable()"
                aria-label="username"
                required
                />
                <label>
                  Username
                </label>
                <div id="usernameError"></div>
            </div>
            <div>
                <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                oninput="removeDisable()"
                onchange="hoverLabel()"
                aria-label="email"
                required
              />
              <label class="label">
                Email
              </label>
            </div>
            
            <div class="password-container">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              oninput="pwValidation()"
              aria-label="password"
              required
             />
             <label>
               Password
             </label>
            <div id="passwordError"></div>
            <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
          </div>
          <div class="password-container">
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              oninput="pwMatch()"
              aria-label="confirm password"
              required
              />
              <label>
                Confirm Password
              </label>
            <div id="passwordMatch"></div>
            <i class="fa-regular fa-eye-slash" id="togglePassword2"></i>
          </div>
            <button type="submit" id="signUp-btn" disabled>Sign Up</button>
          </fieldset>
        </form>
        <footer>
          <h4>Already have an account? <a href="/login"> Login here!</a></h4>
          <h5>or sign up with</h5>
          <ul>
            <li><a href="/login/google"><i class="fa-brands fa-google"></i>Google</a></li>
            <li><a href="/login/github"><i class="fa-brands fa-github"></i>GitHub</a></li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
  <script src="/js/main.js" reffererpolicy="no-referrer-when-downgrade"></script>
</body>
</html>