* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.commentContainer{
    margin-top: 1rem;
}

.commentSubContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(223, 219, 219);
    width: 100%;
    height: 4rem;
}

.commentSubContainer, h5{
    font-size: 1rem;
}

.commentContainer form{
    margin: 2rem 3rem;
}

.commentContainer textarea{
    width: 100%;
}

.blogComment{
    margin: 1rem 3rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: white; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.288);
}

.blogComment h6{
    font-size: .8rem;
}

.blogComment h3{
    margin-top: .5rem;
    font-size: 1.2rem;
}

.usernameContainer{
    display: flex;
    justify-content: space-between;
}

#deleteForm{
    margin: 0;
}

.likesButton{
    display: flex;
    justify-content: center;
    background: rgb(26, 28, 42);
    border-radius: 20px;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: white;
    width: 6rem;
    cursor: pointer;
    border: 1px solid black;
}

.likesButton:hover{
    background: rgb(51, 55, 80);
}

.likesButton i{
    color: rgb(127, 134, 169);
    margin-right: 10%;
}