* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
}

.graphic-side {
    display: none;
}

.form-side {
    width: 100%;
}

.logo-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
    width: 100%;
}

img {
    height: 2.5rem;
}

h2 {
    flex-basis: 88%;
    font-size: .9rem;
    color: rgb(14, 16, 27)
}

.content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content {
    flex-basis: 70%;
}

header {
    text-align: center;
    margin: 12rem 0 3rem 0;
    width: 100%;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: rgb(14, 16, 27);
}

h5 {
    color: rgb(177, 180, 185);
    font-size: .7rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    position: relative;
}

span {
    background-color: white;
    width: 60%;
    position: absolute;
    bottom: -5px;
    left: 55px
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: none;
    text-align: center;
    width: 100%;
}

input {
    border: none;
    border-bottom: 1px solid rgb(235, 235, 235);
    width: 100%;
    margin-top: 1.5rem;
}

button {
    margin-top: 2rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 23, 39);
    color: white;
    height: 2rem;
    width: 100%;
}

footer {
    text-align: center;
    margin: 1.5rem 0;
}

h4 {
    color: rgb(177, 180, 185);
    font-size: .7rem;
    margin-bottom: 3rem;
}

.border {
    position: relative;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.span2 {
    background-color: white;
    width: 25%;
    position: absolute;
    bottom: -5px;
    left: 100px
}

li {
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--text1);
    color: rgb(14, 16, 27);
    margin-left: 5px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.socialIcon {
    flex-basis: 22.5%;
}