@import "https://unpkg.com/open-props";

/* toggle switch */
/* end switch */

html {

    /* light */
    --brand-light: var(--teal-6);
    --brand-light-alt: var(--grape-6);
    --text1-light: var(--gray-8);
    --text2-light: var(--gray-7);
    --text1-brand-light: var(--teal-6);
    --text2-brand-light: var(--teal-5);
    --surface1-light: var(--gray-6);
    --surface2-light: var(--gray-4);
    --surface3-light: var(--gray-3);
    --surface4-light: var(--gray-2);

    /* dark */
    --brand-dark: var(--teal-3);
    --text1-dark: var(--gray-1);
    --text2-dark: var(--gray-3);
    --text1-brand-dark: var(--teal-3);
    --text2-brand-dark: var(--teal-2);
    --surface1-dark: var(--gray-9);
    --surface2-dark: var(--gray-8);
    --surface3-dark: var(--gray-7);
    --surface4-dark: var(--gray-6);
}
  
@media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
  
        --brand: var(--brand-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --text3: var(--text1-brand-dark);
        --text4: var(--text2-brand-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
    }
}

body.active {
    color-scheme: light;
    --brand: var(--brand-light);
    --brand-alt: var(--brand-light-alt);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --text3: var(--text1-brand-light);
    --text4: var(--text2-brand-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
}

/* Sets global page container */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--text1);
    background-color: var(--surface1);
}

li {
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--text1);
    text-decoration: none;
    display: block;
}

/* Typography */
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text1);
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text1);
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text1);
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text1);
}

h5 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text1);
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text1);
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text1);
}


#toggle {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}


#toggle.active {
    background: rgb(52,58,64);
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);   
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #444,#222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 30px;
    background: linear-gradient(to bottom, #9b9b9b,#aaaaaa);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgb(215, 215, 215),
                inset 0 -4px 4px rgba(80, 79, 79,1);
}