@import "https://unpkg.com/open-props";

html {

    /* light */
    --brand-light: var(--teal-6);
    --brand-light-alt: var(--grape-6);
    --text1-light: var(--gray-8);
    --text2-light: var(--gray-7);
    --text1-brand-light: var(--teal-6);
    --text2-brand-light: var(--teal-5);
    --surface1-light: var(--gray-6);
    --surface2-light: var(--gray-4);
    --surface3-light: var(--gray-3);
    --surface4-light: var(--gray-2);

    /* dark */
    --brand-dark: var(--teal-3);
    --text1-dark: var(--gray-1);
    --text2-dark: var(--gray-3);
    --text1-brand-dark: var(--teal-3);
    --text2-brand-dark: var(--teal-2);
    --surface1-dark: var(--gray-9);
    --surface2-dark: var(--gray-8);
    --surface3-dark: var(--gray-7);
    --surface4-dark: var(--gray-6);
}

/* Use these to define surface levels and text colors */
:root {
    color-scheme: light;

    /* set defaults */
    --brand: var(--brand-light);
    --brand-alt: var(--brand-light-alt);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --text3: var(--text1-brand-light);
    --text4: var(--text2-brand-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
}
  
@media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
  
        --brand: var(--brand-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --text3: var(--text1-brand-dark);
        --text4: var(--text2-brand-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
    }
}
  
[color-scheme="light"] {
    color-scheme: light;
  
    --brand: var(--brand-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --text3: var(--text1-brand-light);
    --text4: var(--text2-brand-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
}
  
[color-scheme="dark"] {
    color-scheme: dark;
  
    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --text3: var(--text1-brand-dark);
    --text4: var(--text2-brand-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
}

/* Sets global page container */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text1);
    background-color: var(--surface1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--text1);
    text-decoration: none;
    display: block;
}