* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(229, 227, 220);
}

li {
    list-style: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
}


/* //////////////TOGGLE SWITCH FOR DARK/LIGHTMODE///////////////////// */

#toggle {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}


#toggle.active {
    background: rgb(52,58,64);
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);   
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #444,#222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 30px;
    background: linear-gradient(to bottom, #9b9b9b,#aaaaaa);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgb(215, 215, 215),
                inset 0 -4px 4px rgba(80, 79, 79,1);
}

/* //////////////NAVBAR///////////////////// */

nav li:nth-child(1) {
    display: none;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

nav li{
    flex-basis: 18.5%;
    text-align: center;
    margin-top: .5rem;
}

nav li:nth-child(3), nav li:nth-child(2){
    order: 1;
}

nav li:nth-child(4), nav li:nth-child(5){
    order: 3;
}

.upload {
    order: 2;
}

.upload i {
    padding-top: 1rem;
    font-size: 2.4em;
}

/* //////////////DISCOVERY TAB////////////// */

/* //////////////HEADER///////////////////// */

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* //////////////POSTCARD/////////////////// */

/* //////////////USER LOGO////////////////// */

.userLogo{
    display: relative;
}

.userLogo a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

img {
    border-radius: 100%;
    height: 40px;
    margin: .5rem 10px .5rem 0;
}

span {
    align-items: center;
    font-size: .7rem;
}

#submenuWrap{
    position: absolute;
    display: none;
    top: 100%;
    right: 0%;
    width: 125px;
    max-height: 75px;
    color: white;
    background: rgba(0, 75, 133, .9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#submenuWrap h2{
    font-size: .8rem;
    padding: 10px;
    font-weight: lighter;
}

.submenu-fa{
    margin-right: .5rem;
}


@media screen and (min-width: 550px) {


    /* //////////////NAVBAR///////////////////// */

    .navbar {
        position: static;
        width: 100%;
        height: 100%;
    }

    nav li:nth-child(1) {
        display: block;
    }

    .upload {
        font-size: 1em;
    }

    .navbar ul {
        display: block;
        width: 100%;
        margin: 0;
    }

    .navbar li {
        text-align: center;
    }

    .navbar i {
        color: rgb(0, 75, 133);
        margin-top: 8rem;
    }

/* //////////////DISCOVERY TAB////////////// */

/* //////////////HEADER///////////////////// */

/* //////////////POSTCARD/////////////////// */

/* //////////////USER LOGO////////////////// */

}

@media screen and (min-width: 850px) {

/* //////////////NAVBAR////////////// */

/* //////////////DISCOVERY TAB////////////// */

/* //////////////HEADER///////////////////// */

/* //////////////POSTCARD/////////////////// */

/* //////////////USER LOGO////////////////// */

}