/* NAV STYLING */

.logo-img {
    display: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    flex-basis: 18.5%;
    text-align: center;
}

nav li:nth-child(3), nav li:nth-child(2){
    order: 1;
}

nav li:nth-child(4), nav li:nth-child(5){
    order: 3;
}

.upload {
    order: 2;
}

.upload i {
    font-size: 2.4em;
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}

/************************/
/*MEDIA QUERIES*/
/************************/

@media screen and (max-width: 550px) {
    #list-toggle {
        display: none;
    }
}

@media screen and (min-width: 550px) {
    .logo-img {
        display: block;
    }

    .search {
        display: none;
    }

    .upload {
        font-size: 1em;
    }

    .logo-img img {
        height: 60px;
    }

    .logo-img {
        margin-bottom: 8rem;
    }

    ul {
        display: block;
        width: 20%;
    }

    nav li {
        text-align: center;
        margin-top: 4rem;
    }

    nav {
        position: fixed;
        top: 0;
    }
}

@media screen and (min-width: 800px) {
    
}