nav li:nth-child(1) {
    display: none;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

nav li{
    flex-basis: 18.5%;
    text-align: center;
}

nav li:nth-child(3), nav li:nth-child(2){
    order: 1;
}

nav li:nth-child(4), nav li:nth-child(5){
    order: 3;
}

.upload {
    order: 2;
}

.upload i {
    padding-top: 1rem;
    font-size: 2.4em;
}

/************************/
/*MEDIA QUERIES*/
/************************/

@media screen and (min-width: 550px) {
    .search {
        display: inline;
    }

    .upload {
        font-size: 1em;
    }

    .navbar ul {
        display: block;
    }

    .navbar li {
        text-align: center;
        margin: 3rem 0;
    }
}