.pageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}

.tn-mv{
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    outline: 1px solid red;
    display: flex;
    align-items: center;
    background: var(--surface3);
}

.topNavbar {
    outline: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    min-height: 5rem;
    background: var(--surface3)
}

/* set mainViewport to take up the rest of the page */
.mainViewport {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--surface4);
    padding: 1rem;
    border-radius: 0.5rem;
}

.postPreviewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 550px) {
    .navbar {
        position: unset;
        height: 100vh;
        max-width: 10rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }



}