.cardContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* max-width: 600px; */
}

.postcard{
    background: var(--surface2);
    width: 48%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    transition: all 0.3s ease-in-out;
}

.postcard:hover{
    background: var(--surface3);
    box-shadow: var(--shadow-3);
    transition: all 0.3s ease-in-out;
}

/* The header and Author info */
.titleContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--surface3);

}
/* Title specific to card */
.title{

}

/* The intro content */
.cardContent{

}

/* Icon container */
.utilityContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 20px;
}
/* inlines the icon and count */
.iconInline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}
.tooltip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
    visibility: hidden;
}

.tooltip:hover {
    display: unset;
    visibility: visible;
}

@media screen and (max-width: 775px) {
    .postcard{
        width: 100%;
        margin: 1rem;
    }
}