figure {
    border: solid 3px black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

figure form {
    margin: 1rem auto 0 1rem;
}

figure div {
    margin: 1rem 1rem 0 auto;
}

figure a {
    width: 100%;
}

.title {
    margin-bottom: 2rem;
}

a h4, a h2 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

figcaption {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
}

p {
    justify-content: center;
}

ul {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

li i {
    margin-left: 5px;
}

@media screen and (min-width: 850px) {

    .postcardContainer{
        width: 49%;
        display: inline-block;
        margin: 0 auto;
    }

}