.profilePhotoContainer{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.profilePhoto{
    height: 150px;
}

h2{
    text-align: center;
    margin-top: 0.2rem;
}

h4{
    text-align: center;
}

.userStats{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem 3rem;
}

form textarea{
    height: 100px;
}

.bio{
    margin: 3rem;
}

.profileHeader{
    background-image: url('/images/profile-header.jpg');
    background-size: cover;
    height: 200px;
    position: relative;
    border-bottom: 1px solid black;
    z-index: 0;
}

.profileImg{
    position: absolute; 
    top: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.profileImg img {
    width: 100%;
    border-radius: 50%;
    border: solid 1px black;
    object-fit: cover;
  }

.editProfileBtn{
    position: absolute;
    right: 0px;
    top: 225px;
}

.modal-box{
    z-index: 10;
    position: fixed;
}

.profileImg img{
    height: 150px;
}

.profileStats{
    padding: 65px 0 20px 0;
    border-bottom: 1px solid black;
}

.profileUsername{
    font-size: 1.5rem;
}

.followerContainer{
    display: flex;
}

.mr-5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.mr-5 .counts {
    margin-left: .5rem;
}

.profilePostsBookmarks{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.profilePostsBookmarks span {
    justify-content: space-around;
}

.delete {
    margin: 0 !important;
    display: flex !important;
    flex-flow: row wrap;
    justify-content: flex-start !important;
}

.profilePostsBookmarks a{
    width: 25%;
    text-align: center;
    border-bottom: 1px solid rgba(101, 101, 101, .6);
    padding-bottom: 1rem;
}

.tabs{
    display: flex;
    justify-content: space-around;
}

.profilePostsBookmarks a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255)
}

.profileMsg{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeProfilePic{
    position: absolute; 
    background-color: black;
    cursor: pointer;
    top: 225px;
    left: 130px;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilePic{
    width: 400px;
    margin-right: 5rem;
}

.followCard {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem 0;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: center;
}

.followInfo {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.followbtn {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
}

.followCard button {
    padding-left: 20px;
}

.followColumn {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5px;
}

.followColumn h1 {
    font-weight: bold;
}

.followColumn p {
    font-size: .8rem;
}

.followCard img {
    height: 60px;
    width: 60px;
    margin-right: 1rem;
    border-radius: 100%;
    border: solid 1px black;
}