.topNavbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-right: 2rem;
}

.topNavbar i {
    font-size: 4rem;
}
