.userLogo {
    height: 50px;
}

.profileLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 50px;
    min-width: 100px;
}

#tinyProfilePic {
    display: inline-block;
    /* background-image: url(pic.jpg); */
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}

.username {
    padding-left: 10px;
}