#userView {
    display: inline-block;
    height: 50px;
}

#usernameLink {
    text-decoration: none;
    height: 50px;
}

#tinyProfilePic {
    display: inline-block;
    /* background-image: url(pic.jpg); */
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}

#userViewName {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}