<link rel="stylesheet" href="css/footer.css">

<footer id="footer" class="center">
    <div data-test="footer-text">
        &copy;
        <script type="text/javascript"> document.write(new Date().getFullYear()); </script> 
        PNB
    </div>
</footer>