<link rel="stylesheet" href="/css/navbar.css">

<header>
    <nav class="navbar">
        <a href="/" class="logo bigLogo">Project Night Blog</a>
        <a href="/" class="logo smallLogo">P.N.B.</a>
        <ul class="nav-menu">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><select id="theme-switcher">
                    <option value='auto' id='auto'>Auto</option>
                    <option value='light' id='light'>Light</option>
                    <option value='dark' id='dark'>Dark</option>
                </select>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

<script src="/js/navbar.js"></script>
<script src="/js/darkmode.js"></script>