
<div id="toggle" onclick="changeStatus()">
    <i class="indicator"></i>
</div>

<style>
#toggle {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}


#toggle.active {
    background: rgb(52,58,64);
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);   
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #444,#222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 30px;
    background: linear-gradient(to bottom, #9b9b9b,#aaaaaa);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgb(215, 215, 215),
                inset 0 -4px 4px rgba(80, 79, 79,1);
}
</style>
<script>
const body = document.querySelector('body');
const toggle = document.getElementById('toggle');

if(localStorage.getItem('darkMode')===null){
    localStorage.setItem('darkMode', "false")
}

function checkStatus() {
    console.log('hello')
    if(localStorage.getItem('darkMode') === 'true'){
        toggle.classList.remove('active');
        body.classList.remove('active');
    } else {
        toggle.setAttribute('class', 'active');
        body.setAttribute('class', 'active');
    }
}

checkStatus();

function changeStatus() {
    if(localStorage.getItem('darkMode')==='true'){
        localStorage.setItem('darkMode', 'false');
        toggle.setAttribute('class', 'active');
        body.setAttribute('class', 'active');
    } else {
        localStorage.setItem('darkMode', 'true');
        toggle.classList.remove('active');
        body.classList.remove('active');
    }
}
</script>