<link rel="stylesheet" href="/css/userLogo.css">

<% if(typeof user == "undefined") { %>

    <div class="userLogo">
        <a class="profileLink" href="/login">
            <span>Login</span>
        </a>
    </div>

<% }else{ %>

    <div class="userLogo" onclick="toggleMenu()">
            <a class="profileLink" href="#">
                    <img src="/images/defaultUser.png" alt="default user image">
                    <span><%= user.userName %></span>
            </a>
    </div>

    <nav id="submenuWrap">
        <a href="/profile/myprofile/<%= user._id %>"><h2><i class="fa-regular fa-user submenu-fa"></i>My Profile</h2></a>
        <a href="/login/logout"><h2><i class="fa-solid fa-right-from-bracket submenu-fa"></i>Logout</h2></a>
    </nav>

<% } %>
