<link rel="stylesheet" href="/css/userLogo.css">

<div class="userLogo">
    <%# if (user) { %>
        <a class="profileLink" href="/user/<%#= user.name %>">
            <%# if (user.img) { %>
                <!-- <img src="<%#= user.img %>" alt="user image"> -->
            <%# } else { %>
                <img src="images/defaultUser.png" alt="default user image">
                <span>Username</span>
            <%# } %>
        </a>
</div>