<link rel="stylesheet" href="/css/userLogo.css">

<div class="userLogo">
    <a class="usernameLink" href="#">
        <i class="fa-regular fa-circle"></i>
        <span class="username">Just for show</span>
    </a>
</div>

<!-- TODO: Add fallback image -->