<link rel="stylesheet" href="/css/user-view.css">

<div id="userView">
    <a id="usernameLink" href="#">
        <div id="tinyProfilePic"></div>
        <span id="userViewName"></span> <!-- username text goes in here -->
    </a>
</div>