#page {
	width: 40em;
	height: auto;
	box-shadow: var(--shadow-4);
	margin-top: 5rem;
	background: var(--surface2);
}

.banner {
	background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
	width: 100%;
	height: 23em;
}

.title-container,
.sub-container {
	position: relative;
	color: var(--text-1);
	width: max-content;
	height: auto;
	min-width: 65%;
	max-width: 80%;
	top: -5.3em;
}

.title-container  {
	background: var(--surface4);
	border-top-right-radius: 5px;
	box-shadow: var(--shadow-2);
	padding: 0.55em 1.5em 0.25em;
	z-index: 99;
	
}
.title.container > h1 {
    font-size: 2.95em;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 1.55;
    text-shadow: 0 1px 5px rgba(#000, 0.25);
}

.sub-container {
	background: var(--surface3); //#75c1ea;
	min-width: 60%;
	border-bottom-right-radius: 5px;
	padding: 0.6em 1.5em 0.5em;
	z-index: 0;
	box-shadow: var(--shadow-2);
}
.sub-container > h4 {
    color: var(--text-1);
    font-size: 0.95em;
    font-weight: 200;
    text-shadow: 0 1px 2px rgba(#000, 0.4);
}
.sub-container > a, .sub-container > span {
    color: var(--text-1);
    font-size: 1em !important;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.sub-container > span {
    font-weight: 500;
}

.page-content {
	position: relative;
	color: rgba(#000, 0.7);
	width: 72%;
	height: auto;
	top: -5.25em;
	margin: 2em auto 0;
}
.page-content p {
	padding: 10px 0;
}
/* 
.tag-container {
	position: relative;
	width: 75%;
	top: -2.75em;
	margin: 0 auto 3em;
	padding-bottom: 3em;
}
.tag-container hr {
	background: rgba(#000, 0.3);
	color: transparent;
	text-decoration: none;
	width: 100%;
	height: 1px;
	border: none;
	margin: 0 auto 1em;
}
.tag-container h5 {
	position: relative;
	display: inline-block;
	color: rgba(#000, 0.5);
	font-weight: 400;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	width: auto;
	top: -2.5px;
	float: left;
	padding: 0.25em 0.3em 0 0.9em;
}

.tag-container, .tag-list {
	width: auto;
	list-style: none;
}

.tag-container, .tag-list .li {
	display: inline-block;
	background: rgba(#000, 0.05);
	color: rgba(#000, 0.5);
	font-size: 0.8em;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	margin: 0 0.2em;
	padding: 1px 6px 2px;
	cursor: pointer;
}
.tag-container, .tag-list .li:hover {
	background: rgba(#000, 0.5);
	color: rgba(#fff, 0.95);
	border: 1px solid rgba(#000, 0.5);
	box-shadow: 0 1px 3px rgba(#000, 0.4);
	transition: all 400ms ease-in-out;
} */