<link rel="stylesheet" href="/css/login.css">

<div class="viewContainer">
    <div class="headerContainer">
        <h1>Login</h1>
    </div>
    <div class="bodyContainer">
    <form action="/loginLocal" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
        />
      </div>
      <button type="submit" class="btn">Login</button>
    </form>
    <div>
      <h4>Or Login With:</h4>
          <div>
              <a href="#"><img class="socialIcon" src="images/google.png"></a>
              <a href="#"><img class="socialIcon" src="images/facebook.png"></a>
              <a href="#"><img class="socialIcon" src="images/github.png"></a>
              <a href="#"><img class="socialIcon" src="images/twitter.png"></a>
          </div>
    </div>
  </div>
</div>