
<link rel="stylesheet" href="/css/markdown.css"/>
<div class="viewContainer">
    <div class="bodyContainer">
        <form action="/blog/create" enctype="multipart/form-data" method="POST">
            <div class="submitContainer">
                <input type="submit" value="Publish" class="btn btn-primary mt-2">
            </div>
            <label class="imageInputBtn" for="imageUpload">
                <i class="fa-solid fa-image fa-lg"></i>
                Add Cover Image
                <input type="file" name="image" id='imageUpload' class="image">
            </label>
            <input required type="text" name="title" id="title" class="blogTitle" placeholder="Blog Title...">
            <!-- <div>
                <label for="intro">Intro</label>
                <textarea name="intro" id="intro" class="form-control"></textarea>
            </div> -->

            <div class="textareaContainer">
                <textarea required name="markdown" id="markdown" class="form-control" placeholder="Tell your story..."></textarea>
            </div>
        </form>
    </div>
</div>
