<link rel="stylesheet" href="/css/markdown.css">
<div class="markdownContainer">
    <header class="markdownHeader">
        <h1><%= blog.title %></h1>
    </header>
    <div class="markdownIcons">
        <i class="fa-regular fa-bookmark"></i>
        <i class="fa-regular fa-heart"> 4</i>
        <i class="fa-regular fa-share-from-square"></i>
    </div>
    <div class="author">
        <h5>Written by <a href="#"><%= blog.author.userName %></a> &bull; <%= moment(blog.createdAt).format('MMMM Do') %></h5>
    </div>
    <section class="blogContent">
        <%- blog.sanitizedHtml %>
    </section>
</div>