<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/profile.css">

<div class="profilePhotoContainer">
    <img class="profilePhoto" src="/images/defaultUser.png" alt="default user image">
</div>
<section>
    <h2><%= user.userName %></h2>
</section>
<section class="userStats">
    <div>
        <h3>Followers</h3>
        <h4>0</h4>
    </div>
    <div>
        <h3>Posts</h3>
        <h4>0</h4>
    </div>
    <div>
        <h3>Likes</h3>
        <h4>0</h4>
    </div>
</section>
<form action="/profile/<%= user._id %>/updateBio?_method=PUT" method="POST">
    <h3>Enter a Bio:</h3>
    <textarea></textarea>
    <input type="submit">
</form>